@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    position: relative;
    top: 1.5rem;
}

body .py-4 {
    padding-top: 0 !important;
}

#logout-button {
    color: #ff3349;
}

.choice-entry {
    padding: 0.5em;
    /* border-style: solid; */
    /* border-width: 1px; */
}

.btn.remove-choice {
    margin: 0.5em;
    margin-left: 0;
    width: 5.8em;
}

.btn.remove-area {
    margin: 0.5em;
    margin-left: 0;
    width: 5.8em;
}

#add-availability {
    margin-top: 1em;
}